@font-face {
    font-family: 'Macaroni';
    src: url('../Assets/MacaroniRegular.woff') format('woff2'),
        url('../Assets/MacaroniRegular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3 {font-family: 'Macaroni'; cursive; font-weight: normal;}

/* body{
    background-color: blue;
}
.my-heading{
    color: yellow;
}
.my-heading{
    border: 2px solid white;
} */
/* body{
    font-family: Georgia, 'Times New Roman', Times, serif;
} */
